
/* COMPONENTS */
.button {
  text-transform: uppercase;
  color: inherit;
  font-weight: 700;
  letter-spacing: .05em;
  text-decoration: underline;
  padding:  10px;
  /* should a link look like a "button" though? */
  display: inline-block;
/*  flex-direction: row;
  justify-content: start;*/
  border:  1px solid black;
  text-decoration: none;
  font-family: sans-serif;
  font-weight:  400;
 }

.arrow {
  /* maybe icons in here? Any reusable smaller things */  
}


/*section.page-section {
   background: url('../ghibli.jpg') no-repeat center center / cover;
   height:  80vh;
}*/