movie-card {
   display: block;
   margin:  5px;
   border:  1px solid #f4f4f4;
}


picture img.card-image {
   height:  350px;
}


.wallpaper-column {
   max-width: 95%;
}

 .wallpaper img {
   max-height:  90vh;
 }

/*.wallpaper {
   position: relative;
}

.movie-details {
   position:  absolute;
   bottom:  0;
   left:  0;
}*/